html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.button {
  background-color: #4B7399;
  color: #fff;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.9;
}
